/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Specific Page Styles */
main {
    padding: 0;
}

.background-image {
    background-image: url('quiz_wall.jpeg'); /* Replace 'quiz_wall.jpg' with your image file */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    text-align: center;
}